p {
    color: rgb(0, 128, 62);
    text-indent: 30px;
  }
*CSS syntax for a class */
  .relative {
    position: relative;
    width: 95%;
    height: 300px;
    padding: 5px;
    margin-bottom: 12px;
    border: 2px dashed orange;
  }

  .absolute {
    /* position: static;
      positon: relative; 
      position: fixed;
      bottom: 14px;
      right: 14px;
      width: 300px; */
    position: absolute;
    top: 80px;
    right: 0;
    width: 80%;
    height: 100px;
    padding: 12px 0px 0px 12px;
    border: 2px dashed orange
  }

  .sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    margin-bottom: 12px;
    background-color: red;
    border: 2px solid blue;
  }

  .static {
    position: static;
    top: 0;
    padding: 5px;
    margin-right: 2px;
    background-color: orange;
    border: 5px dashed green;
  }

  /*CSS syntax for an ID */
  /* #secondpara {} */
